@font-face {
  font-family: 'Montserrat Alternates', sans-serif;
  src:  url(//Fonts/MontserratAlternates-Light.ttf);
}
@font-face {
	  font-family: 'Montserrat Bold', sans-serif;
  src:  url(//Fonts/MontserratAlternates-BoldItalic.ttf);
}

.head {
	display: flex;
	background: linear-gradient(#DCDCDC, #DADCDE);
	flex-wrap: wrap;
	flex-basis: 100;
	border-bottom: 5px solid black;
	width: 99.5vw;
	height: 100vh;
	justify-content: center;
	margin-top: -8px;
	margin-bottom: -8px;
	margin-left: -5px;
}
h1 {
  font-family: 'Montserrat Alternates', sans-serif;
  text-align: center;
  align-self: center;
	color:  #0073D3;
	font-size: 15vh;
	animation-name: title;
	animation-timing-function: linear;
	animation-duration: 3s;
	animation-delay: 0s;
	animation-iteration-count: 1;
	text-shadow: 0px 0px 10px black;
	flex-basis: 100vw;
}
h2 {
	font-family: 'Montserrat Bold', sans-serif;
	font-size: 5vh;
	color: #0073D3;
	text-shadow: -1px -1px 1px navy,
		1px 1px 1px navy,
		1px -1px 1px navy,
		-1px 1px 1px navy;
	animation-name: subtitle;
	animation-timing-function: linear;
	animation-duration: 6s;
	animation-delay: 0s;
	animation-iteration-count: 1;
	max-width: 80%;
}

@media screen and (max-width:  950px) {
	h1 {
		font-size: 7vh;
	}
	h2{
		font-size: 4vh;
	}
}
@keyframes title {
	0%{
		transform: translateX(100vw) scale(-1.6, 1.6);
		text-shadow: -2px -2px 1px black,
		 2px 2px 1px black,
		 2px -2px 1px black,
		 -2px 2px 1px black;
	}
	20%{
		transform: translateX(-100vw) scale(-1.6, 1.6);
		text-shadow: -2px -2px 1px black,
		 2px 2px 1px black,
		 2px -2px 1px black,
		 -2px 2px 1px black;
	}
	40% {
		transform: translateX(-100vw) scale(1.0, 1.0);
		text-shadow: 0px 0px 0px;
	}
	60%{
		transform: translateX(0px);
	}
	100%{
		text-shadow: 0px 0px 10px black,
		 0px 0px 0px black,
		 0px -0px 0px black,
		 -0px 0px 0px black;
	}
}

@keyframes subtitle {
	0% {
		opacity: 0%;
	}
	50% {
		opacity: 0%;
	}
}
